{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">Dog {{ model.dog.indexNumber }}</span>
            <h1 class="govuk-heading-l">Check activity</h1>
        </div>
    </div>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">All activity</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Activity</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Team member</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <!-- Activity List -->
            {% for eventRow in model.events %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ eventRow.date }}</td>
                <td class="govuk-table__cell">{{ eventRow.activityLabel }}</td>
                <td class="govuk-table__cell">{{ eventRow.teamMember }}</td>
            </tr>
            {% endfor %}
            <!-- / Activity List -->
        </tbody>
    </table>
{% endblock %}