{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}Dog {{ model.dog.indexNumber }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-2">
      <div class="defra-actions-header govuk-!-margin-bottom-2">
        <div class="defra-actions-header__title">
          <h1 class="govuk-heading-xl">Dog {{ model.dog.indexNumber }}</h1>
          {{ statusTag(model.dog.status, model.dog.subStatus, 'govuk-!-margin-bottom-1') }}
          {% if model.showManageCdo %}
          <span class="govuk-body govuk-!-margin-left-3">
            <a class="govuk-link govuk-link--no-visited-state" href="/cdo/manage/cdo/{{ model.dog.indexNumber }}{{ model.srcHashParam }}">Manage CDO application</a>
          </span>
          {% endif %}
        </div>
        <div class="defra-actions-header__actions">
          <div class="defra-actions-header__wrapper govuk-!-margin-top-2">
            <a href="/cdo/edit/add-activity/{{ model.dog.indexNumber }}/dog{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary defra-actions-header__action-item" data-module="govuk-button">
              Add an activity
            </a>
            <a href="/cdo/view/activity/{{ model.dog.indexNumber }}/dog{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary defra-actions-header__action-item" data-module="govuk-button">
              Check history
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <!-- dog -->
      {% include "./cdo/view/dog-panel.njk" %}

      <!-- owner -->
      {% include "./cdo/view/owner-panel.njk" %}
      <!-- button -->
      {% if auth.isAdminUser %}
        <a href="/cdo/delete/dog/{{ model.dog.indexNumber }}{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="delete-dog-record-btn">Delete dog record</a>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-half">
      <!-- Exemption -->
      {% include "./cdo/view/exemption-panel.njk" %}
    </div>
  </div>

{% endblock %}