{% from "components/statusTag/macro.njk" import statusTag %}

<!-- dog list -->
{% for dog in model.dogs %}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        <a class="govuk-link govuk-link--no-visited-state" href="/cdo/view/dog-details/{{ dog.indexNumber }}{{ model.srcHashParam }}">{{ dog.indexNumber }}</a>
      </h2>
      <ul class="govuk-summary-card__actions govuk-!-font-weight-regular">
        {{ statusTag(dog.status) }}
      </ul>
    </div>

    <div class="govuk-summary-card__content govuk-!-padding-top-1 govuk-!-padding-bottom-0">
      <table class="govuk-table govuk-!-margin-bottom-3">
        <caption class="govuk-table__caption govuk-!-font-weight-regular govuk-!-font-size-16"></caption>
        <thead class="govuk-table__head govuk-!-font-size-16">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">
                    Dog name
                  </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">
                    Microchip number
                  </th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16 govuk-!-margin-bottom-0">
            {% if dog.name %}
              <td class="govuk-!-padding-top-2 govuk-!-padding-bottom-0">{{ dog.name }}</td>
            {% else %}
              <td class="govuk-!-padding-top-2 govuk-!-padding-bottom-0 defra-secondary-text">Not entered</td>
            {% endif %}
            {% if dog.microchipNumber %}
            <td class="govuk-table__header--numeric govuk-!-padding-top-2 govuk-!-padding-bottom-0">{{ dog.microchipNumber }}</td>
            {% else %}
            <td class="govuk-table__header--numeric govuk-!-padding-top-2 govuk-!-padding-bottom-0 defra-secondary-text">Not entered</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}