{% from "components/statusTag/macro.njk" import statusTag %}

<!-- dog list -->
{% for dog in model.dogs %}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        <a class="govuk-link govuk-link--no-visited-state" href="/cdo/view/dog-details/{{ dog.indexNumber }}{{ model.srcHashParam }}">{{ dog.indexNumber }}</a>
      </h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-font-size-16">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">{{ statusTag(dog.status, dog.subStatus) }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          {% if dog.name %}
          <dd class="govuk-summary-list__value">{{ dog.name }}</dd>
          {% else %}
          <dd class="govuk-summary-list__value defra-secondary-text">Not entered</dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Breed type</dt>
          <dd class="govuk-summary-list__value">{{ dog.breed }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Microchip number</dt>
          {% if dog.microchipNumber or dog.microchipNumber2 %}
          <dd class="govuk-summary-list__value">
          {% if dog.microchipNumber %}{{ dog.microchipNumber }}<br/>{% endif %}
          {% if dog.microchipNumber2 %}{{ dog.microchipNumber2 }}{% endif %}
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value defra-secondary-text">Not entered</dd>
          {% endif %}
        </div>
      </dl>
    </div>
  </div>
{% endfor %}