{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends '_layout.njk' %}

{% block pageTitle %}
{% if model.person.organisationName %}
{{ model.person.organisationName }}
{% else %}
{{ model.person.firstName }} {{ model.person.lastName }}
{% endif %} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-button-group defra-align-right-simple">
        <a href="/cdo/edit/add-activity/{{ model.person.personReference }}/owner{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add an activity
        </a>
        <a href="/cdo/view/activity/{{ model.person.personReference }}/owner{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Check owner activity
        </a>
      </div>
      <h1 class="govuk-heading-xl  govuk-!-margin-bottom-6">
        {% if model.person.organisationName %}
        {{ model.person.organisationName }}
        {% else %}
        {{ model.person.firstName }} {{ model.person.lastName }}
        {% endif %}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <!-- owner -->
      {% include "./cdo/view/owner-panel.njk" %}

        {% if auth.isAdminUser and model.dogs.length == 0 %}
        <a href="/cdo/delete/owner/{{ model.person.personReference }}{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Delete owner record
        </a>
        {% endif %}
    </div>

    <div class="govuk-grid-column-one-half">
      <!-- dog list -->
      {% include "./cdo/view/dog-list-panel.njk" %}
    </div>
  </div>


{% endblock %}