{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ model.person.firstName }} {{ model.person.lastName }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-half">
      <!-- owner -->
      {% include "./cdo/view/owner-panel.njk" %}
    </div>

    <div class="govuk-grid-column-one-half">
      <!-- dog list -->
      {% include "./cdo/view/dog-list-panel.njk" %}
    </div>
  </div>

{% endblock %}