      <!-- owner -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title defra-summary-header">Owner details</h2>
          <div class="govuk-summary-card__actions">
            <a class="govuk-link defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state"
            href="{{ model.person.navlink.url }}/{{ model.person.personReference }}{{ model.srcHashParam }}">{{ model.person.navlink.text}}<span class="govuk-visually-hidden"> for owner</span>
            </a>
          </div>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-font-size-16">

            {% if model.person.organisationName %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-!-width-one-third">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">{{ model.person.organisationName }}</dd>
            </div>
            {% endif %}

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-!-width-one-third">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">{{ model.person.firstName }} {{ model.person.lastName }}</dd>
            </div>      
    
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Date of birth</dt>
              {% if model.person.dateOfBirth %}
                <dd class="govuk-summary-list__value">{{ model.person.dateOfBirth }}</dd>
              {% else %}
                <dd class="govuk-summary-list__value defra-secondary-text">Not entered</dd>
              {% endif %}
            </div>

            {% if model.person.addressLines and model.person.addressLines.length > 0 %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address</dt>
              <dd class="govuk-summary-list__value">
              {% for line in model.person.addressLines %}
              {{ line }}<br>
              {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions defra-text-align-left">
              {% if model.showChangeAddressLink %}
                <a class="govuk-link govuk-link--no-visited-state" href="/cdo/edit/postcode-lookup/{{ model.person.personReference }}{{ model.srcHashParam }}">Change<br>address<span class="govuk-visually-hidden"> (Owner details)</span></a>
              {% endif %}
            </dd>
            </div>
            {% endif %}
    
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Email</dt>
              {% if model.person.email %}
                <dd class="govuk-summary-list__value">{{ model.person.email }}</dd>
              {% else %}
                <dd class="govuk-summary-list__value defra-secondary-text">Not entered</dd>
              {% endif %}
            </div>

      
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Telephone number 1</dt>
              {% if model.person.telephoneNumber1 %}
                <dd class="govuk-summary-list__value">{{ model.person.telephoneNumber1 }}</dd>
              {% else %}
                <dd class="govuk-summary-list__value defra-secondary-text">Not entered</dd>
              {% endif %}
            </div>

            {% if model.person.telephoneNumber2 %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Telephone number 2</dt>
              <dd class="govuk-summary-list__value">{{ model.person.telephoneNumber2 }}</dd>
            </div>
            {% endif %}

            {% if model.person.country %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Country</dt>
              <dd class="govuk-summary-list__value">{{ model.person.country }}</dd>
            </div>
            {% endif %}

          </dl>
        </div>
      </div>
