{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}Enter address - New application - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        })
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errors
        }) }}
      {% endif %}

      {% call govukFieldset({
        legend: {
          text: "Enter address",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

        <div id="address-hint" class="govuk-hint govuk-!-margin-bottom-3">
            Enter addresses in the correct format. For example, 8 Raspberry Terrace, Leeds, LS56 7MT
        </div>

        <form method="POST" novalidate autocomplete="off">
          {{ govukInput(model.addressLine1) }}
        
          {{ govukInput(model.addressLine2) }}
       
          {{ govukInput(model.town) }}
        
          {{ govukInput(model.postcode) }}

          {{ govukSelect(model.country) }}

          <input type="hidden" name="personReference" value="{{ model.personReference }}" />

          {{ govukButton({
            text: model.buttonText
          }) }}
        </form>

      {% endcall %}
  </div>
{% endblock %}