{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" novalidate>
      <h1 class="govuk-heading-l">Confirm dog details</h1>

      {% for dog in model.dogs %}
        {% if dog.indexNumber %}
            {% include "./cdo/create/confirm-dog-details-single.njk" %}
        {% else %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Dog {{ dog.id }}</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" href="/cdo/create/microchip-search/{{ dog.id }}"> Change details <span class="govuk-visually-hidden"> Dog {{ dog.id }}</span></a>
              </li>
              {% if model.dogs | length > 1 %}
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" href="{{ model.deleteLink }}/{{ dog.id }}"> Delete <span class="govuk-visually-hidden"> Dog {{ dog.id }}</span></a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            {% include "./cdo/create/confirm-dog-details-single.njk" %}

      {% endif %}
          </div>
        </div>
      {% endfor %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm details"
        }) }}

        {% if model.allowAddDog %}
        {{ govukButton({
          text: "Add another dog for this owner",
          classes: "govuk-button--secondary",
          name: "addAnotherDog"
        }) }}
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock %}
