{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" novalidate autocomplete="off">

        {{ govukInput(model.microchipNumber) }}

        {% if model.dogId is defined %}
          <input type="hidden" name="dogId" value="{{ model.dogId }}">
        {% endif %}


      {{ govukButton({
        text: "Continue"
      }) }}
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/cdo/create/dog-details">I don’t have a microchip number</a>
      </p>
    </div>
  </form>
</div>

{% endblock %}
