{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}Process new CDO or Interim Exemption - New application - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
    {% if model.errors | length > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
      </div>
    </div>
    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Process new CDO or Interim Exemption</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" novalidate autocomplete="off">

      <h2 class="govuk-heading-m">Owner details</h2>

      {{ govukInput(model.firstName) }}

      {{ govukInput(model.lastName) }}
      
      {{ govukDateInput(model.dateOfBirth) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
