{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "components/statusTag/macro.njk" import statusTag %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Record created"
      }) }}

      {% for dog in model.dogs %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Dog {{ dog.indexNumber }}</h2>
        {{ statusTag(dog.status, 'govuk-!-font-size-16') }}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Breed</dt>
            <dd class="govuk-summary-list__value">{{ dog.breed }}</dd>
          </div>
          {% if dog.name %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">{{ dog.name }}</dd>
            </div>
          {% endif %}
          {% if dog.microchipNumber %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Microchip number</dt>
              <dd class="govuk-summary-list__value">{{ dog.microchipNumber }}</dd>
            </div>
          {% endif %}
          {% if dog.cdoIssued %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CDO issued</dt>
            <dd class="govuk-summary-list__value">{{ dog.cdoIssued }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CDO expiry</dt>
            <dd class="govuk-summary-list__value">{{ dog.cdoExpiry }}</dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Joined interim exemption scheme</dt>
            <dd class="govuk-summary-list__value">{{ dog.interimExemption }}</dd>
          </div>
          {% endif %}
        </dl>
      {% endfor %}

      <h2 class="govuk-heading-m">Owner and enforcement details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">{{ model.owner.name }}</dd>
        </div>
        {% if model.owner.birthDate %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">{{ model.owner.birthDate }}</dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            {% for line in model.owner.address %}
              {{ line }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
          </dd>
        </div>
        {% if model.country %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country</dt>
          <dd class="govuk-summary-list__value">{{ model.country }}</dd>
        </div>
        {% endif %}
        {% if model.enforcementDetails.court %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Court</dt>
          <dd class="govuk-summary-list__value">{{ model.enforcementDetails.court }}</dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Police force</dt>
          <dd class="govuk-summary-list__value">{{ model.enforcementDetails.policeForce }}</dd>
        </div>
        {% if model.enforcementDetails.legislationOfficer  %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Dog legislation officer</dt>
            <dd class="govuk-summary-list__value">{{ model.enforcementDetails.legislationOfficer }}</dd>
          </div>
        {% endif %}
      </dl>

      <p class="govuk-body">
        <a href="/" class="govuk-link govuk-link--no-visited-state">Dangerous Dogs Index home</a>
      </p>
    </div>
  </div>
{% endblock %}
