{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Select the address for {{ model.firstName }} {{ model.lastName }}</h1>
      <form method="post" novalidate autocomplete="off">
        {{ govukRadios(model.address)}}

        {{ govukButton({
          text: 'Continue'
        }) }}
      </form>


      {% if model.source == 'create' %}
      <p class="govuk-body">
        or <a class ="govuk-link" href="{{ model.addressRoute }}">enter address manually</a>.
      </p>
      {% endif %}

      </div>
    </div>
{% endblock %}
