{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ model.selectDogFieldset.legend.text }} - New application - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errors
        }) }}
      {% endif %}

      <form method="post" novalidate autocomplete="off">
        {% call govukFieldset(model.selectDogFieldset) %}
        {{ govukRadios(model.dog)}}

        {{ govukButton({
          text: 'Continue'
        }) }}
        {% endcall %}
      </form>

      </div>
    </div>
{% endblock %}
