{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}


{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}

{% if (model.results.items.length === 0) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm address</h1>
    <form method="post" novalidate autocomplete="off">
      <div class="govuk-form-group" id="postcode">
        <p class="govuk-label">Postcode</p>
        <p class="govuk-body">
          <strong style="text-transform: uppercase;">{{ model.postcode }}</strong>
          <a href="{{ model.changePostcodeLink }}" class="govuk-link govuk-link--no-visited-state" data-testid="change-postcode-link">Change postcode</a>
        </p>
      </div>
      <p>
      No addresses were found.
      </p>
    </form>
  </div>
</div>

{% elif (model.results.items.length === 1) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm address</h1>
    <form method="post" novalidate autocomplete="off">
    {% if model.results.errorMessage %}
    <div class="govuk-form-group govuk-form-group--error">
      <p id="address-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>{{ model.results.errorMessage.text }}
      </p>
      <p>
      {% for addr in model.results.items[0].text.split(',') %}
      {{ addr}}<br>
      {% endfor %}
      </p>
    </div>
    {% else%}
      <p>
      {% for addr in model.results.items[0].text.split(',') %}
      {{ addr}}<br>
      {% endfor %}
      </p>
    {% endif %}

      <input type="hidden" name="address" value="0" />

      <p class="govuk-body">
        <a class ="govuk-link govuk-link--no-visited-state" href="{{ model.changeAddressLink }}" data-testid="change-address-link">Change address</a>
      </p>

      {{ govukButton({
        text: "Confirm address"
      }) }}
    </form>
  </div>
</div>

{% else %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Select an address</h1>
    <form method="post" novalidate autocomplete="off">
      <div class="govuk-form-group" id="postcode">
        <p class="govuk-body">
          <a href="{{ model.changePostcodeLink }}" class="govuk-link govuk-link--no-visited-state" data-testid="change-postcode-link">Change postcode</a>
        </p>
      </div>

      {{ govukRadios(model.results)}}

      {{ govukButton({
        text: model.buttonText
      }) }}
    </form>

    {% if model.source == 'create' %}
    <p class="govuk-body">
      or <a class ="govuk-link govuk-link--no-visited-state" href="{{ model.addressRoute }}">enter address manually</a>.
    </p>
    {% endif %}
  </div>
</div>

{% endif %}

{% endblock %}
