.config/
.env
.DS_Store
.npm/
.standard-v12-cache/
.vscode
app/static/stylesheets/*.css*
lcov.info
node_modules
npm-debug.log
test-output
dist
*.tgz
*.lock
# Generated views
_layout.njk
_cookie-banner.njk
