{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin/index">Admin</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: model.errors
        }) }}
    {% endif %}

    <form method="POST" novalidate autocomplete="off">

      <h1 class="govuk-heading-l">
        Query the audit events of external users
      </h1>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
              What type of query do you want to run?
          </h2>
        </legend>

        {{ govukRadios(model.queryType) }}

      </fieldset>


      <p class="govuk-body">If you get a '504 gateway timeout' error when performing your query, try setting or reducing the date range of your query so fewer reocrds would be returned. If you are still unable to retrieve the data without a timeout error, you will have to raise a support ticket so that infrastructure technicians can retrieve the data for you.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>

  </div>
</div>
{% endblock %}