{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
            id: "back"
        }
    }) }}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: model.errors
        }) }}
    {% endif %}

    <form method="POST" novalidate autocomplete="off">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{ model.queryTypeText }}
          </h1>
        </legend>

        {{ govukDateInput(model.fromDate) }}
        {{ govukDateInput(model.toDate) }}

        {% if model.queryType != 'date' and model.queryType != 'login' %}
        {{ govukInput(model.pk) }}
        {% endif %}

      </fieldset>


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Find records"
        }) }}
      </div>
    </form>

  </div>
</div>
{% endblock %}