{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageHeading = "Upload XLB data" %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/admin/index",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% block formContent %}
      <div class="govuk-body">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {{ pageHeading }}
            </h1>
            <div id="location-upload-hint">
              <p>The file should:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Have an extension of .xls or .xlsx</li>
                <li>Have a sheet name of 'Passed' to hold the rows for import</li>
                <li>Be no larger than 10 MB</li>
                <li>Have no more than 100 rows</li>
                <li>Have a structure identical to <a href="/static/templates/XL Bully Import Blank Template.xlsx">this template spreadsheet</a></li>
              </ul>
            </div>
              {{ govukFileUpload(model) }}

              {{ govukButton({
                text: "Upload",
                attributes: {
                  id: "continue",
                  "data-testid": "continue"
                }
              }) }}
          </div>
        </div>
      </div>
    {% endblock %}
  </form>
{% endblock %}