                <table class="govuk-table govuk-!-margin-bottom-7" id="attachment-table">
                    <caption class="govuk-visually-hidden">Attachment templates</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Filename</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if templateFiles | length > 0 %}
                        {% for attachment in templateFiles %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell defra-align-table">{{ attachment.filename }}</td>
                            <td class="govuk-table__cell defra-align-table">
                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="test" value="{{ templateType}}/{{ attachment.filename }}">
                                    Test
                                </button>
                                {% if attachment.isLive === false %}
                                &nbsp;&nbsp;
                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="remove" value="{{ templateType}}/{{ attachment.filename }}">
                                    Remove
                                </button>
                                &nbsp;&nbsp;
                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="golive" value="{{ templateType}}/{{ attachment.filename }}">
                                    Go live
                                </button>
                                {% else %}
                                &nbsp;&nbsp;
                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="revoke" value="{{ templateType}}/{{ attachment.filename }}">
                                    Revoke
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <strong class="govuk-tag defra-tag-nowrap govuk-tag--green govuk-!-margin-top-1">LIVE</strong>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell defra-align-table">No templates</td>
                            <td class="govuk-table__cell defra-align-table govuk-table__cell--numeric"></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
