{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}Manage templates for email/letter - Admin - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin/index">Admin</a>
      </li>
    </ol>
  </div>
{% endblock %}

<div class="govuk-width-container">

    {% block content %}
    <div class="govuk-grid-row">
        <div id="file-list-body" class="govuk-grid-column-full">
            {% if model.errors | length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: model.errors
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">Manage templates for email or letter</h1>
            <form class="form" method="post" id="file-attachments" action="">
              <p>Files showing <strong class="govuk-tag defra-tag-nowrap govuk-tag--green">LIVE</strong> will be used as an email attachment (if for email) or used as the letter content (if for posting by letter).</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Additional files may be uploaded, tested, and made live.</li>
                <li>Press 'Revoke' to relegate a file from <strong class="govuk-tag defra-tag-nowrap govuk-tag--green">LIVE</strong>.</li>
                <li>Each <strong class="govuk-tag defra-tag-nowrap govuk-tag--green">LIVE</strong> file must have a unique filename.</li>
              </ul>
              <p>Currently, only a <strong>single file</strong> is allowed to be live for each category</p>

              <h2 class="govuk-heading-m">Template for Send Application Pack (by email)</h2>
              {% set templateFiles = model.sendPackTemplates %}
              {% set templateType = 'email-application-pack' %}
              {% include "./admin/attachments/list-table.njk" %}

              <h2 class="govuk-heading-m">Template for Post Application Pack (letter by post)</h2>
              {% set templateFiles = model.postPackTemplates %}
              {% set templateType = 'post-application-pack' %}
              {% include "./admin/attachments/list-table.njk" %}
            </form>
            <div class="govuk-button-group">
              <a class="govuk-link govuk-link--no-visited-state" href="/admin/attachments/upload">Upload a file</a>
            </div>
        </div>
    </div>

    {% endblock %}
</div>
