{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}Test attachment file - Dog {{ model.indexNumber }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        })
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errors
        }) }}
      {% endif %}

    <form method="POST" novalidate autocomplete="off">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Test attachment file</h1>
          </legend>

          {{ govukInput(model.ddi_index_number) }}
          {{ govukInput(model.ddi_dog_name) }}
          {{ govukInput(model.ddi_owner_name) }}
          {{ govukInput(model.ddi_address_line_1) }}
          {{ govukInput(model.ddi_address_line_2) }}
          {{ govukInput(model.ddi_town) }}
          {{ govukInput(model.ddi_postcode) }}
          {{ govukInput(model.ddi_todays_date) }}

          <label class="govuk-label" for="flattenPdf">
            flatten PDF: {{ model.flattenPdf }}
          </label>
          <div id="flatten-pdf-hint" class="govuk-hint">
          {% if model.flattenPdf %}
            As this test is for a postal letter, the resultant PDF will be flattened to ensure that the form field content can be correctly read by the letter-posting service. 
          {% else %}
            As this test is for an email attachment, the resultant PDF will not be flattened so that the form fields can still be used electronically. 
          {% endif %}
          </div>
          <br />

        </fieldset>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Test",
            name: "submitButton"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ model.backLink }}">Cancel</a>
        </div>
        <div class="govuk-button-group">
          <a class="govuk-link govuk-link--no-visited-state" href="/admin/attachments/test?default=true">Reset to default values</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}