{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Processed Comments</h1>
        </div>
    </div>
    <div class="govuk-body">
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Current Run</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Comments Processed this run</td>
                <td class="govuk-table__cell">{{ model.rowsProcessed }}</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Number of errors</td>
                <td class="govuk-table__cell">{{ model.rowsInError }}</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Comments successfully published to events</td>
                <td class="govuk-table__cell">{{ model.rowsPublishedToEvents }}</td>
            </tr>
        </tbody>
    </table>

    </div>
{% endblock %}