{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}
<div class="govuk-width-container">
    {% block beforeContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {{ govukBackLink({
            text: "Back",
            href: model.backLink,
            attributes: {
            id: "back"
            }
            })
            }}
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add or remove pseudonyms</h1>
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="#add-a-pseudonym">Add a team member pseudonym</a>
            </p>
            <p class="govuk-body">To change a pseudonym, remove the pseudonym first. Then add the new pseudonym and the team member’s email address.</p>
            <div class="govuk-inset-text">
                Pseudonyms delete instantly if you select ‘Remove’ in the list below.
            </div>
            <p class="govuk-body govuk-!-margin-bottom-7">Team members without a pseudonym will be displayed on the Index as<br />‘Index user’.</p>
            <form class="form" action="pseudonym-removed" method="post">
                {% if model.pseudonyms | length > 0 %}
                <table class="govuk-table govuk-!-margin-bottom-7">
                    <caption class="govuk-visually-hidden">Team pseudonyms</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Pseudonym</th>
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove team member</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- Pseudonym List -->
                        {% for pseudonym in model.pseudonyms %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell defra-align-table">{{pseudonym.username}}</td>
                            <td class="govuk-table__cell defra-align-table">{{pseudonym.pseudonym}}</td>
                            <td class="govuk-table__cell defra-align-table govuk-table__cell--numeric">
                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="remove" value="{{pseudonym.username}}">
                                    Remove
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- / Pseudonym List -->
                    </tbody>
                </table>
                {% else %}
                <p class="govuk-body">No pseudonyms have been added</p>
                {% endif %}
            </form>
            <form class="form" id="add-a-pseudonym" action="pseudonym-added" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Add a team member pseudonym</h2>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email">Email</label>
                        <input class="govuk-input govuk-!-width-one-half" id="email" name="email" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="pseudonym">Pseudonym</label>
                        <input class="govuk-input govuk-!-width-one-third" id="pseudonym" name="pseudonym" type="text">
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button" data-module="govuk-button">Add pseudonym</button>
            </form>
        </div>
    </div>

    {% endblock %}
</div>
