{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin/index">Admin</a>
      </li>
    </ol>
  </div>
{% endblock %}

<div class="govuk-width-container">

    {% block content %}
    <div class="govuk-grid-row">
        <div id="pseudonym-body" class="govuk-grid-column-two-thirds">
            {% if model.errors | length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: model.errors
                }) }}
            {% endif %}
            {% if model.pseudonyms | length > 0 %}
            <form class="form" method="post" id="pseudonym-remove" action="pseudonyms#pseudonym-body">
                {% call govukFieldset({
                    legend: {
                        text: "Add or remove pseudonyms",
                        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                        isPageHeading: true
                    }
                }) %}
                <p class="govuk-body">
                    <a class="govuk-link govuk-link--no-visited-state" href="#add-a-pseudonym">Add a team member pseudonym</a>
                </p>
                <p class="govuk-body">To change a pseudonym, remove the pseudonym first. Then add the new pseudonym and the team member’s email address.</p>
                <div class="govuk-inset-text">
                    Pseudonyms delete instantly if you select ‘Remove’ in the list below.
                </div>
                <p class="govuk-body govuk-!-margin-bottom-7">Team members without a pseudonym will be displayed on the Index as<br />‘Index user’.</p>
                <table class="govuk-table govuk-!-margin-bottom-7" id="pseudonym-table">
                    <caption class="govuk-visually-hidden">Team pseudonyms</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Pseudonym</th>
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove team member</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- Pseudonym List -->
                        {% for pseudonym in model.pseudonyms %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell defra-align-table">{{pseudonym.username}}</td>
                            <td class="govuk-table__cell defra-align-table">{{pseudonym.pseudonym}}</td>
                            <td class="govuk-table__cell defra-align-table govuk-table__cell--numeric">
                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="remove" value="{{pseudonym.username}}">
                                    Remove
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- / Pseudonym List -->
                    </tbody>
                </table>
                {% endcall %}

            </form>
            {% endif %}
            <form class="form" id="add-a-pseudonym" method="post" action="pseudonyms#pseudonym-body">
                {% call govukFieldset(model.addFieldset) %}
                    {{ govukInput(model.email) }}
                    {{ govukInput(model.pseudonym) }}
                {% endcall %}
                <button type="submit" class="govuk-button" data-module="govuk-button">Add pseudonym</button>
            </form>
        </div>
    </div>

    {% endblock %}
</div>
