{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "components/statusTag/macro.njk" import statusTag %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        {% for breadcrumb in model.breadcrumbs %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{ breadcrumb.link }}">
                {{ breadcrumb.label }}
            </a>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: model.successMessage,
        titleHtml: model.titleHtml,
        html: model.panelHtml,
        classes: 'govuk-!-margin-bottom-7'
      }) }}

      {% for paragraph in model.bodyContent %}
      <p class="govuk-body">{{ paragraph }}</p>
      {% endfor %}

      {% if model.html %}
          {% for item in model.html %}
            {% if item.h2  %}
                <h2 class="govuk-heading-m {{item.class}}">
                    {{item.text}}
                </h2>
            {% endif %}
            {% if item.p  %}
                <p class="govuk-body">{{ item.text }}</p>
            {% endif %}
            {% if item.ul  %}
                <ul class="govuk-list govuk-list--bullet">
                    {% for item in item.ul %}
                        <li>{{item.text}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          {% endfor %}
      {% endif %}


      {% if model.bottomLink.label %}
      <p class="govuk-body">
        <a href="{{ model.bottomLink.link }}" class="govuk-link govuk-link--no-visited-state">{{ model.bottomLink.label }}</a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
