{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    <div class="frc-captcha" id="my-widget"></div>
  </div>
</div>


  <script src="../../static/js/capture.cefaa92aeff9559409c5.js"></script>

<script>
  capture.start(captureSiteKey)
</script>

{% endblock %}
