{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    {% call govukFieldset({
      legend: {
        text: "What is the address of the owner?",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

      <form method="post" novalidate>
        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          id: "address-line-1",
          name: "addressLine1",
          value: addressLine1,
          autocomplete: "address-line1"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          id: "address-line-2",
          name: "addressLine2",
          value: addressLine2,
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 3 (optional)"
          },
          id: "address-line-3",
          name: "addressLine3",
          value: addressLine3,
          autocomplete: "address-line3"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "addressTown",
          value: addressTown,
          autocomplete: "address-level2"
        }) }}
      
        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-county",
          value: addressCounty,
          name: "addressCounty"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "addressPostcode",
          value: addressPostcode,
          autocomplete: "postal-code"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    
    {% endcall %}
    
  </div>
</div>

{% endblock %}
