{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}


{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>
      {{ govukRadios({
        name: "isKeeper",
        fieldset: {
          legend: {
            text: "Is the owner the dog's keeper?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        value: isKeeper,
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
