{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    {% call govukFieldset({
      legend: {
        text: "What is your postcode?",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

      <form method="POST" action="{{ model.formAction }}" novalidate>
        {{ govukInput(model.postcode) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    
    {% endcall %}
    
  </div>
</div>

{% endblock %}
