{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Owner</h2>

    <form method="post" action="{{ model.formAction }}">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: model.summary.owner.name
            },
            actions: {
              items: [
                {
                  href: "/register/owner/name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: model.summary.owner.address | join("<br>")
            },
            actions: {
              items: [
                {
                  href: "/register/owner/address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: model.summary.owner.dateOfBirth
            },
            actions: {
              items: [
                {
                  href: "/register/owner/date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "Date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone"
            },
            value: {
              text: model.summary.owner.phone
            },
            actions: {
              items: [
                {
                  href: "/register/owner/phone-number",
                  text: "Change",
                  visuallyHiddenText: "Telephone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: model.summary.owner.email
            },
            actions: {
              items: [
                {
                  href: "/register/owner/email",
                  text: "Change",
                  visuallyHiddenText: "email"
                }
              ]
            }
          }
        ]
      }) }}

      {% if not model.summary.error %}
        {{ govukButton({
            text: "Continue"
          }) }}
      {% endif %}
    </form>    
</div>

{% endblock %}
