{% if status == 'Interim exempt' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--green {{ extraClasses }}">{{ status }}</strong>
{% elif status == 'Pre-exempt' or status == 'Applying for exemption' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--blue  {{ extraClasses }}">Applying for exemption</strong>
{% elif status == 'Failed' or status == 'Failed to exempt dog' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--purple  {{ extraClasses }}">Failed to exempt dog</strong>
{% elif status == 'Exempt' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--turquoise  {{ extraClasses }}">{{ status }}</strong>
{% elif status == 'In breach' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--red  {{ extraClasses }}">{{ status }}</strong>
{% elif status == 'Withdrawn' or status == 'Withdrawn by owner' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--pink  {{ extraClasses }}">Withdrawn by owner</strong>
{% elif status == 'Inactive' %}
  {% if subStatus == 'dead' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--grey  {{ extraClasses }}">Dog dead</strong>
  {% elif subStatus == 'exported' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--light-blue  {{ extraClasses }}">Dog exported</strong>
  {% elif subStatus == 'stolen' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--orange  {{ extraClasses }}">Reported stolen</strong>
  {% elif subStatus == 'untraceable' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--yellow  {{ extraClasses }}">Owner untraceable</strong>
  {% else %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--yellow  {{ extraClasses }}">{{ status }}</strong>
  {% endif %}
{% elif status == 'Dog dead' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--grey  {{ extraClasses }}">{{ status }}</strong>
{% elif status == 'Dog exported' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--light-blue  {{ extraClasses }}">{{ status }}</strong>
{% elif status == 'Reported stolen' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--orange  {{ extraClasses }}">{{ status }}</strong>
{% elif status == 'Owner untraceable' %}
  <strong class="govuk-tag defra-tag-nowrap govuk-tag--yellow  {{ extraClasses }}">{{ status }}</strong>
{% elif status == undefined %}
  &nbsp;
{% else %}
  <strong class="govuk-tag govuk-tag--red defra-tag-nowrap defra-responsive-!-font-size-16">Invalid status: {{ status }}</strong>
{% endif %}
