{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/statusTag/macro.njk" import statusTag %}

{% extends '_layout.njk' %}

{% block pageTitle %}Dog {{ model.details.dogIndex }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          {% for breadcrumb in model.breadcrumbs %}
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{breadcrumb.link}}">
              {{breadcrumb.label}}
            </a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <form class="form" method="post">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-2">
        <div class="defra-actions-header govuk-!-margin-bottom-2">
          <div class="defra-actions-header__title govuk-!-margin-bottom-2">
            <h1 class="govuk-heading-xl">Dog {{ model.details.dogIndex }}</h1>
            {{ statusTag(model.dog.status, model.dog.subStatus, 'defra-tag-nowrap govuk-!-margin-right-3') }}
          </div>
          <div class="defra-actions-header__actions">
            <div class="defra-actions-header__wrapper govuk-!-margin-top-2">
              <a href="/cdo/view/dog-details/{{ model.details.dogIndex }}{{ model.srcHashParam }}&force=true" role="button" draggable="false" class="govuk-button govuk-button--secondary defra-actions-header__action-item" data-module="govuk-button">
                Dog record
              </a>
              <a href="/cdo/view/owner-details/{{ model.details.personReference }}{{ model.srcHashParam }}" role="button" draggable="false" class="govuk-button govuk-button--secondary defra-actions-header__action-item" data-module="govuk-button">
                Owner record
              </a>
            </div>
          </div>
        </div>
      </div>

      {% for summary in model.summaries %}
      <div class="govuk-grid-column-one-third defra-summary-width govuk-!-margin-top-4">
        {{ govukSummaryList(summary) }}
      </div>
      {% endfor %}


      <div class="govuk-grid-column-three-quarters">
      {{ govukDetails({
      summaryText: "How to use the application task list",
      classes: "govuk-!-margin-top-4",
      html: "
        <p class=\"govuk-body\">
          You need to complete all tasks before you can issue a certificate of exemption to the dog owner.
        </p>

        <p class=\"govuk-body\">
          Start by sending the application pack. You can record the insurance renewal date, microchip number and application fee payment in any order. After that, you can send a Form 2.
        </p>

        <p class=\"govuk-body\">
          Remember to update the <a href=\"/cdo/view/dog-details/"
          + model.details.dogIndex
          + model.srcHashParam
          + "&force=true\" class=\"govuk-link govuk-link--no-visited-state\">dog record</a> with other information you receive, like colour and sex of the dog.
        </p>
        "
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Manage CDO application
      </h2>

      {{ govukTaskList(model.taskList) }}

      {% if model.details.tasks.certificateIssued.available %}
        {{ govukButton({
          text: "Issue certificate",
          href: model.continueLink
        }) }}
      {% endif %}
      </div>
    </form>

  </div>

{% endblock %}