{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          {% for breadcrumb in model.breadcrumbs %}
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{breadcrumb.link}}">
              {{breadcrumb.label}}
            </a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{model.title}}
      </h1>
    </div>

    <div class="govuk-grid-column-one-third defra-text-align-right">
      <div class="govuk-button-group defra-align-right-simple">
        <a href="{{model.secondaryBtn.link}}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          {{model.secondaryBtn.label}}
        </a>
      </div>
    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.showTabNav %}
      <ul class="govuk-tabs__list govuk-!-margin-bottom-7" data-testid="tab-navigation">
        {% for tab in model.tabs %}
        {% if tab.visible %}
        <li class="govuk-tabs__list-item {% if tab.active %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{{tab.href}}">
            {{tab.label}}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      <table class="govuk-table defra-sortable-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Active CDOs ordered by deadline</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% for colHeading in model.tableHeadings %}
              <th scope="col" class="govuk-table__header govuk-input--width-10" data-aria-sort="{{colHeading.ariaSort}}">
                <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{colHeading.link}}">
                  {{colHeading.label}}
                </a>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for cdo in model.resultList %}
          <tr class="govuk-table__row">
            {% if model.tab == 'interim' %}
            <td class="govuk-table__cell">{{cdo.interimExemptFor}}</td>
            {% else %}
            <td class="govuk-table__cell">{{cdo.humanReadableCdoExpiry}}</td>
            {% endif %}
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/cdo/view/dog-details/{{cdo.index}}{{model.srcHashParam}}">{{cdo.index}}</a></td>
            <td class="govuk-table__cell">{{cdo.owner}}</td>
            {% if cdo.policeForce %}
            <td class="govuk-table__cell">{{cdo.policeForce}}</td>
            {% else %}
            <td class="govuk-table__cell defra-secondary-text">Not entered</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
    </div>
  </div>

{% endblock %}