{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/accessibleAutocomplete/macro.njk" import accessibleAutocomplete %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin/index">Admin</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
        }) }}
        {% endif %}

        <form method="GET" novalidate autocomplete="off">
        {% call govukFieldset(model.fieldset) %}
            <div class="govuk-form-group">
                {{ accessibleAutocomplete(model.policeForce) }}
            </div>
        {% endcall %}
            {{ govukButton(model.submit) }}
        </form>


        <h2 class="govuk-heading-m">
            {{ model.userCount }}
        </h2>
        <table class="govuk-table defra-sortable-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                {% for colHeading in model.tableHeadings %}
                <th scope="col" class="govuk-table__header govuk-input--width-10" data-aria-sort="{{colHeading.ariaSort}}">
                    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{colHeading.link}}">
                        {{colHeading.label}}
                    </a>
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for policeOfficer in model.policeOfficers %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{policeOfficer.email}}</td>
                <td class="govuk-table__cell">{{policeOfficer.policeForce}}</td>
                <td class="govuk-table__cell">{{policeOfficer.indexAccess}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
  </div>
</div>
{% endblock %}