{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set pageHeading = "Upload register" %}

{% block content %}
  <form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% block formContent %}
      <div class="govuk-body">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {{ pageHeading }}
            </h1>
            <div id="location-upload-hint">
              <p>The file should:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Have an extension of .xls or .xlsx</li>
                <li>Be no larger than 50 MB</li>
              </ul>
            </div>
              {{ govukFileUpload(model) }}
              <p class="govuk-!-padding-top-3">
                No file chosen
              </p>
              {{ govukButton({
                text: "Upload",
                attributes: {
                  id: "continue",
                  "data-testid": "continue"
                }
              }) }}
          </div>
        </div>
      </div>
    {% endblock %}
  </form>
{% endblock %}