{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends '_layout.njk' %}

{% block pageTitle %}Confirm microchip and neutering details - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" novalidate autocomplete="off">
      <span class="govuk-caption-m">Dog {{ model.indexNumber }}</span>
      {% call govukFieldset(model.verificationFieldset) %}
      <div class="govuk-form-group {{model.microchipGroupClass}}">
        {% call govukFieldset(model.microchipFieldGroup) %}

              {{ govukDateInput(model.microchipVerification) }}

              {% if model.dogNotFitForMicrochip %}
                {{ govukCheckboxes(model.dogNotFitForMicrochip) }}
              {% endif %}
        {% endcall %}
        </div>
        <div class="govuk-form-group {{model.neuteringGroupClass}}">
          {% call govukFieldset(model.neuteringFieldGroup) %}

                {{ govukDateInput(model.neuteringConfirmation) }}

                {% if model.dogNotNeutered %}
                  {{ govukCheckboxes(model.dogNotNeutered) }}
                {% endif %}

          {% endcall %}
        </div>
        {% if model.detailsComponent %}
          {{ govukDetails(model.detailsComponent) }}
        {% endif %}

        <input type="hidden" name="taskName" id="taskName" value="{{ model.taskName }}" />

      {% endcall %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
