{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends '_layout.njk' %}

{% block pageTitle %}Request Form 2 - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" novalidate autocomplete="off">
      <span class="govuk-caption-m">Dog {{ model.indexNumber }}</span>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
          <h1 class="govuk-fieldset__heading">Request Form 2</h1>
        </legend>
    
        {% if model.disabled %}
        <p class="govuk-body" id="form-2-sent">The Form 2 has been requested.</p>
        {% else %}
        <div id="application-pack-hint" class="govuk-hint">
          Confirm that you have requested the Form 2 from the police force.
        </div>

        {{ govukCheckboxes(model.taskDone) }}
        {% endif %}

        <input type="hidden" name="taskName" id="taskName" value="{{ model.taskName }}" />

      </fieldset>
      {% if model.disabled %}
      {{ govukButton({
        text: "Continue",
        href: model.continueLink
      }) }}
      {% else %}
      {{ govukButton({
        text: "Save and continue"
      }) }}
      {% endif %}

    </form>
  </div>
</div>

{% endblock %}
