{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" action="{{ model.formAction }}" novalidate autocomplete="off">
      {% call govukFieldset({
        legend: {
          text: "What is the activity?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ govukRadios(model.activityType) }}

      <input type="hidden" name="pk" value="{{ model.pk }}" />
      <input type="hidden" name="source" value="{{ model.source }}" />
      <input type="hidden" name="srcHashParam" value="{{ model.srcHashParam }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>

    {% endcall %}
  </form>
</div>

{% endblock %}
