{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if model.errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errors
        }) }}
      {% endif %}

      <span class="govuk-caption-l">Dog {{ model.indexNumber }}</span>

      <form method="POST" action="{{ model.formAction }}" novalidate autocomplete="off">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Edit dog details</h1>
          </legend>

          {{ govukInput(model.name) }}

          {{ govukSelect(model.breed) }}

          {{ govukInput(model.colour) }}

          {{ govukSelect(model.sex) }}

          {{ govukDateInput(model.dateOfBirth) }}

          {{ govukDateInput(model.dateOfDeath) }}

          {{ govukInput(model.tattoo) }}

          {{ govukInput(model.microchipNumber) }}

          {{ govukInput(model.microchipNumber2) }}

          {{ govukDateInput(model.dateExported) }}

          {{ govukDateInput(model.dateStolen) }}

          {{ govukDateInput(model.dateUntraceable) }}

          <input type="hidden" name="id" value="{{ model.id }}">
          <input type="hidden" name="indexNumber" value="{{ model.indexNumber }}">
          <input type="hidden" name="origMicrochipNumber" value="{{ model.origMicrochipNumber }}">
          <input type="hidden" name="origMicrochipNumber2" value="{{ model.origMicrochipNumber2 }}">

        </fieldset>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save details"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ model.backLink }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}