{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/accessibleAutocomplete/macro.njk" import accessibleAutocomplete %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" action="{{ model.formAction }}" novalidate autocomplete="off">
      <span class="govuk-caption-l">Dog {{ model.exemption.indexNumber }}</span>
      {% call govukFieldset({
        legend: {
          text: "Edit exemption details",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ govukSelect(model.exemption.status) }}

      {{ govukDateInput(model.exemption.certificateIssued) }}

      {{ govukDateInput(model.exemption.cdoIssued) }}

      {{ govukDateInput(model.exemption.cdoExpiry) }}

      {% if model.exemption.exemptionOrder.value != 2023 %}
      {{ accessibleAutocomplete(model.exemption.court) }}
      {% endif %}

      {{ govukSelect(model.exemption.policeForce) }}

      {{ govukInput(model.exemption.legislationOfficer) }}

      {{ govukDateInput(model.exemption.applicationFeePaid) }}

      {{ govukSelect(model.exemption.insuranceCompany) }}

      {{ govukDateInput(model.exemption.insuranceRenewal) }}

      {{ govukDateInput(model.exemption.neuteringConfirmation) }}

      {{ govukDateInput(model.exemption.microchipVerification) }}

      {{ govukDateInput(model.exemption.joinedExemptionScheme) }}

      {% if model.exemption.exemptionOrder.value == 2023 %}
      <h2 class="govuk-heading-m">Dangerous dogs exemption 2023 order</h2>
      <p class="govuk-hint">The information in this section is specific to dogs registered under the 2023 order.</p>
      
      {{ govukDateInput(model.exemption.microchipDeadline) }}
      {{ govukDateInput(model.exemption.typedByDlo) }}
      {{ govukDateInput(model.exemption.withdrawn) }}
      {% endif %}

      <input type="hidden" name="exemptionOrder" value="{{ model.exemption.exemptionOrder.value }}" />

      <input type="hidden" name="indexNumber" value="{{ model.exemption.indexNumber }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save details"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="{{ model.backLink }}">Cancel</a>
      </div>
    </div>

    {% endcall %}
  </form>
</div>

{% endblock %}
