{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/accessibleAutocomplete/macro.njk" import accessibleAutocomplete %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" onsubmit="submitButton.disabled = true; return true;" novalidate autocomplete="off">
      <span class="govuk-caption-l">Dog {{ model.indexNumber }}</span>
      {% call govukFieldset({
        legend: {
          text: "Edit exemption details",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-1">
        Status
      </p>
      <ul class="govuk-summary-list__actions-list govuk-!-margin-bottom-2">
            <li class="govuk-summary-list__actions-list-item govuk-body govuk-!-font-size-16">{{ model.status }}</li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="/cdo/edit/change-status/{{ model.indexNumber }}{{ model.srcHashParam }}">Change status</a></li>
          </ul>

      {{ govukDateInput(model.certificateIssued) }}

      {% if model.exemptionOrder.value != 2023 %}
      {{ govukDateInput(model.cdoIssued) }}

      {{ govukDateInput(model.cdoExpiry) }}
      
      {{ accessibleAutocomplete(model.court) }}
      {% endif %}

      {{ govukSelect(model.policeForce) }}

      {{ govukInput(model.legislationOfficer) }}

      {{ govukDateInput(model.applicationFeePaid) }}

      {{ govukSelect(model.insuranceCompany) }}

      {{ govukDateInput(model.insuranceRenewal) }}

      {{ govukDateInput(model.neuteringConfirmation) }}

      {{ govukDateInput(model.microchipVerification) }}

      {{ govukDateInput(model.joinedExemptionScheme) }}

      {{ govukDateInput(model.nonComplianceLetterSent) }}

      {% if model.exemptionOrder.value == 2023 %}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Dangerous dogs exemption 2023 order</h2>
      <p class="govuk-hint">The information in this section is specific to dogs registered under the 2023 order.</p>
      
      {{ govukDateInput(model.microchipDeadline) }}
      {{ govukDateInput(model.typedByDlo) }}
      {{ govukDateInput(model.withdrawn) }}
      {% endif %}

      <input type="hidden" name="exemptionOrder" value="{{ model.exemptionOrder.value }}" />

      <input type="hidden" name="indexNumber" value="{{ model.indexNumber }}" />

      <input type="hidden" name="status" value="{{ model.status }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save details",
          name: "submitButton"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="{{ model.backLink }}">Cancel</a>
      </div>
    </div>

    {% endcall %}
  </form>
</div>

{% endblock %}
