{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/accessibleAutocomplete/macro.njk" import accessibleAutocomplete %}
{% from "components/statusTag/macro.njk" import statusTag %}

{% extends '_layout.njk' %}

{% block pageTitle %}Edit exemption details - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" onsubmit="submitButton.disabled = true; return true;" novalidate autocomplete="off">
      <span class="govuk-caption-l">Dog {{ model.indexNumber }}</span>
      {% call govukFieldset({
        legend: {
          text: "Edit exemption details",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <div class="govuk-form-group">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-3">
        Status
      </p>
      {{ statusTag(model.status, model.subStatus, 'govuk-!-margin-bottom-3 govuk-!-margin-right-3') }}

      <span class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/cdo/edit/change-status/{{ model.indexNumber }}{{ model.srcHashParam }}">Change status</a>
      </span>

      {% if model.breaches | length > 0 %}
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2 govuk-!-margin-bottom-8 breach-details">
          {% for child in model.breaches %}
          <li>{{child}}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>

      {{ govukDateInput(model.certificateIssued) }}

      {% if model.exemptionOrder.value != 2023 %}
      {{ govukDateInput(model.cdoIssued) }}

      {{ govukDateInput(model.cdoExpiry) }}
      
      {% if model.showNeuteringDeadlineNearTop %}
      {{ govukDateInput(model.neuteringDeadline) }}
      {% endif %}

      {% if model.showMicrochipDeadlineNearTop %}
      {{ govukDateInput(model.microchipDeadline) }}
      {% endif %}

      {{ accessibleAutocomplete(model.court) }}
      <div class="govuk-!-padding-bottom-5"></div>
      {% endif %}

      {{ govukSelect(model.policeForce) }}

      {{ govukInput(model.legislationOfficer) }}

      {{ govukDateInput(model.applicationFeePaid) }}

      {{ govukSelect(model.insuranceCompany) }}

      {{ govukDateInput(model.insuranceRenewal) }}

      {{ govukDateInput(model.neuteringConfirmation) }}

      {{ govukDateInput(model.microchipVerification) }}

      {{ govukDateInput(model.joinedExemptionScheme) }}

      {{ govukDateInput(model.nonComplianceLetterSent) }}

      {% if model.exemptionOrder.value == 2023 %}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Dangerous dogs exemption 2023 order</h2>
      <p class="govuk-hint">The information in this section is specific to dogs registered under the 2023 order.</p>
      
      {{ govukDateInput(model.neuteringDeadline) }}
      {{ govukDateInput(model.microchipDeadline) }}
      {{ govukDateInput(model.typedByDlo) }}
      {{ govukDateInput(model.withdrawn) }}
      {% endif %}

      <input type="hidden" name="exemptionOrder" value="{{ model.exemptionOrder.value }}" />

      <input type="hidden" name="indexNumber" value="{{ model.indexNumber }}" />

      <input type="hidden" name="status" value="{{ model.status }}" />

      <input type="hidden" name="dogBreed" value="{{ model.dogBreed }}" />

      <input type="hidden" name="previousInsuranceCompany" value="{{ model.previousInsuranceCompany }}" />

      <input type="hidden" name="previousInsuranceRenewal" value="{{ model.previousInsuranceRenewal }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save details",
          name: "submitButton"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="{{ model.backLink }}">Cancel</a>
      </div>
    </div>

    {% endcall %}
  </form>
</div>

{% endblock %}
