{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Edit owner details</h1>
      </legend>
    </fieldset>

    <form method="POST" onsubmit="submitButton.disabled = true; return true;" novalidate autocomplete="off">
      {% if model.organisationName %}
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold">Organisation</label>
        <span class="govuk-label govuk-!-font-weight-regular">{{ model.organisationName }}</span>
      </div>
      {% endif %}

      {{ govukInput(model.firstName) }}

      {{ govukInput(model.lastName) }}
      
      {{ govukDateInput(model.dateOfBirth) }}

      <p class="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-2">
        <a class="govuk-link govuk-link--no-visited-state" href="/cdo/edit/postcode-lookup/{{ model.personReference }}{{ model.srcHashParam }}">Enter a new address using a postcode</a>
      </p>
      <p class="govuk-hint govuk-!-margin-bottom-7">
        Save any changes before you leave the page.
      </p>

      {{ govukInput(model.addressLine1) }}

      {{ govukInput(model.addressLine2) }}

      {{ govukInput(model.town) }}

      {{ govukInput(model.postcode) }}

      {{ govukInput(model.email) }}

      {{ govukInput(model.primaryTelephone) }}

      {{ govukInput(model.secondaryTelephone) }}

      {{ govukSelect(model.country) }}

      <input type="hidden" name="personReference" value="{{ model.personReference }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save details",
          name: "submitButton"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="{{ model.backLink }}">Cancel</a>
      </div>
    </div>
  </form>
</div>

{% endblock %}
