{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}Check if the police force also needs to change - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      <h1 class="govuk-heading-l">Check if the police force also needs to change</h1>
      <p class="govuk-body">The police force is currently <span class="govuk-!-font-weight-bold">{{ model.policeForceName }}</span>.
      </p>

      <p class="govuk-body">The owner address changed to:
      </p>

      <p class="govuk-body">
      {% for line in model.address %}
      {{ line }}<br>
      {% endfor %}
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      </form>
  </div>
</div>
{% endblock %}
