{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" action="{{ model.formAction }}" novalidate autocomplete="off">
      <span class="govuk-caption-l">{{ model.titleReference }}</span>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">{{ model.activityTitle }}</h1>
        </legend>

        {{ govukRadios(model.activity) }}

        {% if model.activityType == 'received' %}
        <details class="govuk-details govuk-!-margin-bottom-7">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Received something not listed?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ model.editLink }}">Update the details on the dog record</a> if we’ve received:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>an insurance certificate</li>
              <li>a change of address form</li>
              <li>evidence of the death of a dog</li>
            </ul>
            <p class="govuk-body">
              The update will show in the activity list.
            </p>
          </div>
        </details>
        {% endif %}

        {{ govukDateInput(model.activityDate) }}

      <input type="hidden" name="activityType" value="{{ model.activityType }}" />
      <input type="hidden" name="pk" value="{{ model.pk }}" />
      <input type="hidden" name="source" value="{{ model.source }}" />
      <input type="hidden" name="srcHashParam" value="{{ model.srcHashParam }}" />
      <input type="hidden" name="titleReference" value="{{ model.titleReference }}" />
      <input type="hidden" name="skippedFirstPage" value="{{ model.skippedFirstPage }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>

  </form>
</div>

{% endblock %}
