{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}


{% block content %}
    <form method="POST" onsubmit=“submitButton.disabled = true; return true;" novalidate autocomplete="off">
      {% call govukFieldset({
        legend: {
          text: "Export data",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {% endcall %}
      <div class="govuk-body">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {{ pageHeading }}
            </h1>

            <p>Export all data as a CSV file</p>
            
              {{ govukButton({
                text: "Export",
                name: "submitButton"
              }) }}
          </div>
        </div>
      </div>
  </form>
{% endblock %}