{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin/index">Admin</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
    <form method="POST" novalidate autocomplete="off">
      <div class="govuk-body">
        {% call govukFieldset({
          legend: {
            text: "Export data",
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
            isPageHeading: true
          }
        }) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p>Export all data as a CSV file</p>
            
              {{ govukButton({
                text: "Export",
                name: "submitButton"
              }) }}

          </div>

        </div>
        {% endcall %}
      </div>
  </form>
{% endblock %}