{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        })
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" onsubmit="confirmSubmit.disabled = true; return true;">
      <span class="govuk-caption-l">Delete dogs older than 15 years</span>
      {% if model.selectedList | length > 0 %}
      <h1 class="govuk-heading-l">
        You are about to delete {{ model.selectedList.length }} dog {% if model.selectedList | length == 1 %}record {% else %}records {% endif %}
      </h1>
      <p class="govuk-body">Deleted records no longer appear in search results.</p>
      <p class="govuk-body">You have 90 days to raise a support ticket to recover a deleted dog record.</p>
      {% else %}
      <h1 class="govuk-heading-l">
        No records selected
      </h1>
      <p class="govuk-body">You have not selected any records to delete.</p>
      <p class="govuk-body">You can go back and select records to delete if you need to.</p>
      {% endif %}
      <p class="govuk-body">Deleted records no longer appear in search results.</p>
      <div class="govuk-button-group">
        {% if model.selectedList | length > 0 %}
        {{ govukButton({
        text: 'Delete dog records',
        name: "confirmSubmit"
        }) }}
        {% endif %}

        <a class="govuk-link govuk-link--no-visited-state" href="/admin/index">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}