{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
<div class="govuk-grid-column-full">
      <form class="form" method="post" id="dogListForm">

        {% call govukFieldset({
          legend: {
            text: "Dog records to delete",
            classes: "govuk-visually-hidden"
          }
        }) %}
        <input type="hidden" name="checkboxSortCol" id="checkboxSortCol" value="" />
        <input type="hidden" name="followLink" id="followLink" value="" />
        <input type="hidden" name="srcHashParam" id="srcHashParam" value="{{ model.srcHashParamStripped }}" />

        {{ govukButton({
        text: 'Continue'
        }) }}

        <table class="govuk-table govuk-!-margin-top-6 defra-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for colHeading in model.tableHeadings %}
                {% if loop.last %}
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" id="checkboxColHeader" aria-sort-data="{{colHeading.ariaSort}}">
                  <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#" onClick="document.getElementById('checkboxSortCol').value = '{{ colHeading.name }}'; document.getElementById('dogListForm').submit(); return false;">
                    {{colHeading.label}}
                  </a>
                </th>
                {% else %}
                <th scope="col" class="govuk-table__header" aria-sort="{{colHeading.ariaSort}}">
                  <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{colHeading.link}}" onClick="document.getElementById('checkboxSortCol').value = '{{ colHeading.name }}'; document.getElementById('dogListForm').submit(); return false;">
                    {{colHeading.label}}
                  </a>
                </th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for dog in model.resultList %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ statusTag(dog.status.status, 'govuk-!-font-size-19') }}</td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/cdo/view/dog-details/{{dog.indexNumber}}{{model.srcHashParam}}" onClick="document.getElementById('followLink').value = '{{dog.indexNumber}}'; document.getElementById('dogListForm').submit(); return false;">{{dog.indexNumber}}</a></td>
              <td class="govuk-table__cell">{{dog.humanReadableBirthDate}}</td>
              <td class="govuk-table__cell">{{dog.humanReadableCdoIssued}}</td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="defra-checkbox">
                    <input class="govuk-checkboxes__input" name="deleteDog" id="dog-index-{{ dog.indexNumber }}" value="{{ dog.indexNumber }}" type="checkbox" {% if dog.selected %} checked="true" {% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="dog-index-{{ dog.indexNumber }}"><span class="govuk-visually-hidden">dog-index-{{ dog.indexNumber }}</span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endcall %}
      </form>

      <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
    </div>
  </div>

<script>
window.onload = function(){
  const elem = document.getElementById('checkboxColHeader')
  elem.setAttribute('aria-sort', elem.getAttribute('aria-sort-data'))
}
</script>
