{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "components/statusTag/macro.njk" import statusTag %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukBackLink({
      text: "Back",
      href: model.backLink,
      attributes: {
        id: "back"
      }
      })
    }}
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Delete dogs older than 15 years</span>
      <h1 class="govuk-heading-l">
        Check the list and select the dog records you want to delete
      </h1>

      <p class="govuk-body">The dog records in this list have these statuses:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>In breach</li>
        <li>Pre-exempt</li>
        <li>Interim exempt</li>
      </ul>

      <p class="govuk-body">Select the dog records you want to delete.</p>

    </div>

    {% include "./admin/delete/dogs-list-common.njk" %}

{% endblock %}