{% extends '_layout.njk' %}

{% set pageHeading = "Accessibility statement" %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Accessibility statement for the Dangerous Dogs Index
    </h1>

    <p class="govuk-body">
      This accessibility statement applies to the Defra internal Dangerous Dogs Index.
    </p>

    <p class="govuk-body">
      This website is run by Defra.
    </p>

    <p class="govuk-body">
      We want as many people as possible to be able to use this website.
    </p>

    <p class="govuk-body">
      For example, that means you should be able to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>use browser settings or plugins to change colours, contrast levels and fonts</li>
      <li>use browser settings or other software to zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <p class="govuk-body">
      We’ve also made the website text as simple as possible to understand.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-m">
      Reporting accessibility problems with this website
    </h2>

    <p class="govuk-body">
      If you find any problems that are not listed on this page or you think we’re not meeting the accessibility requirements, speak to your line manager.
    </p>


    <h2 class="govuk-heading-m">
      Enforcement procedure
    </h2>

    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
    </p>

    <p class="govuk-body">
      If you’re not happy with how we respond to your complaint,&nbsp;<a class="govuk-body" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
    </p>

    <h2 class="govuk-heading-m">
      Technical information about this website’s accessibility
    </h2>

    <p class="govuk-body">
      Defra is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 id="compliance-status" class="govuk-heading-m">
      Compliance status
    </h2>

    <p class="govuk-body">
      This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard due to the non-compliances listed below.
    </p>

    <h2 id="non-compliance" class="govuk-heading-m">
      Non-accessible content
    </h2>

    <p class="govuk-body">
      The content listed below is non-accessible for the following reasons.
    </p>

    <h3 class="govuk-heading-s">
      Non-compliance with the accessibility regulations
    </h3>

    <p class="govuk-body">
      There are 2 issues with creating a new application on the Index.
    </p>

    <p class="govuk-body">
    On the ‘Dog details' page the ARIA attributes around radio buttons do not match their roles. This fails WCAG 2.2 success criterion 4.1.2 (name, role, value).
    </p>

    <p class="govuk-body">
      On the ‘Enter police and court details’ page a form label is missing from a text field. This fails WCAG 2.2 success criterion 3.3.2 (labels or instructions).
    </p>

    <p class="govuk-body">
      We plan to fix these issues by January 2025.
    </p>

    <h2 class="govuk-heading-m">
      What we’re doing to improve accessibility
    </h2>

    <p class="govuk-body">
      Defra is:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        updating corporate Word and PDF templates to an accessible format
      </li>
      <li>
        creating reports as HTML rather than PDF where possible
      </li>
      <li>
        raising awareness across the organisation and encouraging the use of clear English in reports
      </li>
      <li>
        training staff on meeting accessibility standards
      </li>
      <li>
        getting appropriate software to test PDFs and repair any issues reported
      </li>
      <li>
        testing with disability networks and assistive technology software
      </li>
      <li>
        making every effort to provide new or revised documents in an accessible format
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Preparation of this accessibility statement
    </h2>

    <p class="govuk-body">
      This statement was prepared on 8 October 2024.
    </p>

    <p class="govuk-body">
      This website was last tested in September 2024 against the&nbsp;WCAG&nbsp;2.2 AA standard.
    </p>

    <p class="govuk-body">
      We used findings from our own testing when preparing this accessibility statement.
    </p>
  </div>
</div>
{% endblock %}