{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{serviceName}}</h1>
    <div class="govuk-cards govuk-cards--2">
      <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Search</h2>
        <ul class="govuk-list">
          <li>
              <a href="/capture" class="govuk-link">Search dog index</a>
          </li>
        </ul>
      </div>
      <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">New Registration</h2>
        <ul class="govuk-list">
          <li>
              <a href="/cdo/create/owner-details" class="govuk-link">Create CDO</a>
          </li>
          <li>
            <a href="/register/dog/" class="govuk-link">Register dog</a>
          </li>
        </ul>
      </div>
      <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">View Registration</h2>
        <ul class="govuk-list">
          <li>
              <a href="/view-registration" class="govuk-link">View</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-cards govuk-cards--2">
      <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Upload Data</h2>
        <ul class="govuk-list">
          <li>
              <a href="/upload/register" class="govuk-link">Upload</a>
          </li>
        </ul>
      </div>
      <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Another status</h2>
        <p class="govuk-heading-xl govuk-!-margin-bottom-5">
          1
        </p>
        <ul class="govuk-list">
          <li>
              <a href="/capture" class="govuk-link">View all datasets</a>
          </li>
        </ul>
      </div>
      <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">And another status</h2>
        <p class="govuk-heading-xl govuk-!-margin-bottom-5">
          8
        </p>
        <ul class="govuk-list">
          <li>
              <a href="/capture" class="govuk-link">View all datasets</a>
          </li>
        </ul>
      </div>
    </div>
</div>

{% endblock %}
