{% extends "govuk/template.njk" %}
{% block head %}
<!--[if !IE 8]><!-->

<link href="/static/css/swagger.4c7f7ad2aeca25a0eb75.css" rel="stylesheet">

<!--<![endif]-->
{% endblock %}
{% block bodyStart %}
<div id="swagger-ui"></div>
    
    <script type="module" src="/static/js/swagger.4c7f7ad2aeca25a0eb75.js"></script>
    
{% endblock %}