{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Registration in progress</h2>
    <p class="govuk-body govuk-!-margin-bottom-4">You have completed 0 of 5 sections.</p>
    <ol class="app-task-list govuk-!-padding-top-3">
      <li>
        <h2 class="app-task-list__section">Dog Registration</h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Task 1
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag">
              Completed
            </strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Task 2
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">
              In Progress
            </strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Task 3
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              Not Started
            </strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">Insurance</h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Task 1
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              Not Started
            </strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">Vet</h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Task 1
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              Not Started
            </strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">Verification</h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Task 1
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              Not Started
            </strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
