{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  {% if model.showAdminBreadcrumb %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin/index">Admin</a>
      </li>
    </ol>
  </div>
  {% else %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{
      govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
      })
    }}
  </div>
</div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" onsubmit="submitButton.disabled = true; return true;" novalidate autocomplete="off">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ model.optionText }}
            </h1>
          </legend>

           {{ govukRadios(model.addOrRemove) }}

        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          name: "submitButton"
        }) }}
      </div>
    </form>
  </div>
</div>

{% endblock %}