{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/accessibleAutocomplete/macro.njk" import accessibleAutocomplete %}

{% extends '_layout.njk' %}

{% block pageTitle %}Remove record - Admin - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: model.backLink,
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errors
      }) }}
    {% endif %}

    <form method="POST" onsubmit="submitButton.disabled = true; return true;" novalidate autocomplete="off">
      <div class="govuk-form-group">
          {{ accessibleAutocomplete(model.govukAutoComplete) }}
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: model.buttonText,
          name: "submitButton"
        }) }}
      </div>
    </div>

  </form>
</div>

{% endblock %}
